$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */
body {
  background-color: black;
}

#demo {
  height: 100%;
  width: 100%;
  background-color: black;
}

#video, #canvas {
    display: none;
    top: 0;
    left: 50%;
    margin-left: -160px;
    position: fixed;
    z-index: 100;
    opacity: 1;
}

#logo {
    position: fixed;
    top: 10px;
    left: 20px;
    width: 320px;
}

.demo-tile {
    position: relative;
}

.player-mask {
    width: 100%;
    height: 90px;
    background-color: black;
}


.player-mask-before {
    position: absolute;
    top: 0;
    left: 0;
}

.player-mask-after {
    position: absolute;
    bottom: 0;
    left: 0;
}

