$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */
body {
  background-color: black;
}

#demo {
  height: 100%;
  width: 100%;
  background-color: black;
}

#video, #canvas {
    top: 0;
    left: 50%;
    margin-left: -160px;
    position: fixed;
    z-index: 100;
    opacity: 0.5;
}

#logo {
    position: fixed;
    top: 10px;
    left: 20px;
    width: 320px;
}


