$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */
body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#root {
  height: 100%;
  width: 100%;
  background-color: black;
}



